<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
                <h5 class="text-4xl"><em>Ready for a MEAL?</em></h5>
                <h1 class="text-7xl font-bold">Then <button class="px-6 py-2 rounded-full text-white font-boldmt-4 btn-primary"> Order NOW!</button> </h1>
                
        </div>
        <div class="w-1/2">
                <img src="/img/main-dish.png" class="w-85 rounded-full" alt="uh oh! Image not found">
    </div>
</div>
</section>
<section class="menu container mx-auto py-8">
 
</section>

<section class="menu container mx-auto py-8"> 
    <h1 class="text-xl font-bold mb-8">Indian</h1>

    <div class="grid grid-cols-4 col-gap-12 row-gap-20">

    <% dishes.forEach(function(dish) {%>
    <% if(dish.class === "Indian"){ %>
     

            <div class="w-64">
                <img src="/img/<%= dish.image %>" class="h-40 mb-4 mx-auto" alt="uh oh! Image not found">
                <div class="text-center">
                    <h2 class="mb-4 text-lg"><%= dish.name %></h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= dish.size %></span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bod text-lg"><%= dish.price %></span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+  </span>
                            <span class="ml-4">Add</span>
                        </button>                                                                                   
                    </div>
                </div>
            </div>
      
            <% } %>
            <% }) %>
        </div>
    </section>
    <section class="menu container mx-auto py-8"> 
        <h1 class="text-xl font-bold mb-8">Chineese</h1>

        <div class="grid grid-cols-4 col-gap-12 row-gap-20">
               <% dishes.forEach(function(dish) {%>
    <% if(dish.class === "Chineese"){ %>
       
        <div class="w-64">
            <img src="/img/<%= dish.image %>" class="h-40 mb-4 mx-auto" alt="uh oh! Image not found">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= dish.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= dish.size %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bod text-lg"><%= dish.price %></span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+  </span>
                        <span class="ml-4">Add</span>
                    </button>                                                                                   
                </div>
            </div>
        </div>
  
    <% } %>
    <% }) %>
</div>
</section>
<section class="menu container mx-auto py-8"> 
    <h1 class="text-xl font-bold mb-8">Chineese</h1>

    <div class="grid grid-cols-4 col-gap-12 row-gap-20">
           <% dishes.forEach(function(dish) {%>
<% if(dish.class === "Italian"){ %>
   
    <div class="w-64">
        <img src="/img/<%= dish.image %>" class="h-40 mb-4 mx-auto" alt="uh oh! Image not found">
        <div class="text-center">
            <h2 class="mb-4 text-lg"><%= dish.name %></h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= dish.size %></span>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bod text-lg"><%= dish.price %></span>
                <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                    <span>+  </span>
                    <span class="ml-4">Add</span>
                </button>                                                                                   
            </div>
        </div>
    </div>

<% } %>
<% }) %>
</div>
</section>
<section class="menu container mx-auto py-8"> 
    <h1 class="text-xl font-bold mb-8">Chineese</h1>

    <div class="grid grid-cols-4 col-gap-12 row-gap-20">
           <% dishes.forEach(function(dish) {%>
<% if(dish.class === "Thai"){ %>
   
    <div class="w-64">
        <img src="/img/<%= dish.image %>" class="h-40 mb-4 mx-auto" alt="uh oh! Image not found">
        <div class="text-center">
            <h2 class="mb-4 text-lg"><%= dish.name %></h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= dish.size %></span>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bod text-lg"><%= dish.price %></span>
                <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                    <span>+  </span>
                    <span class="ml-4">Add</span>
                </button>                                                                                   
            </div>
        </div>
    </div>

<% } %>
<% }) %>
</div>
</section>
<script src="/js/app.js"></script>
</body>
</html>