<section class="cart py-16">
    <div class="order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="uh oh! Image not found">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>

        <% if(user && user.items.totalQty) {%>
        <div class="food-list">
            <% for(let dish of Object.values(user.items.dishes)) { %>

            <div class="flex items-center my-8">
                <img class="w-24" src="/img/<%= dish.item.image %>" alt="uh oh! Image not found">
                <div class="flex-1 ml-4">
                    <h1><%= dish.item.name %></h1>
                    <span><%= dish.item.size %></span>

                </div>
                    <span class="flex-1"><%= dish.qty %> Pcs</span>
                    <span class="font-bold text-lg">Rs <%= dish.item.price * dish.qty %> </span>
            </div>
                <% } %>
        </div>
       
        <hr>
        <div class="text-right py-4">
                <div>
                    <span class="text-lg font-bold"> Total Amount:</span>
                    <span class="amount text-2xl font-bold ml-2">Rs <%= user.items.totalPrice %></span>
                </div>
                <div>
                    <form action="/orders" method="POST" class="mt-12">
                        <input name="phone" class="border border-gray-40 p-2 w-1/2 mb-4" placeholder="Phone Number" type="text">
                        <input name="address" class="border border-gray-40 p-2 w-1/2 mb-4" placeholder="Address" type="text">
                        <% if(user) {%>
                        <div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">
                         Order Now 
                        </button>
                    </div>
                    </form>
                    <% } else { %>
                </div>
                <a href="/signin" class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login to continue</a>
        </div>
        <% } %>
    </div>
    <% } else { %>

    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Empty Cart!</h1>
            <p class="text-gray-500 text-lg mb-12">You have not added anyhting yet!</p>
                <br>
                To add items in cart, go to the home page please.
                <img class ="w-2/5 mx-auto" src="/img/empty-cart.png" alt="uh oh! Image not found">
                <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>

    </div>
    <% } %>
</section>